@inherits LayoutComponentBase
<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code{
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#409cb0",
            Secondary = "#e24050",
            AppbarBackground = Colors.Red.Default,
        },
    };
}