<div class="top-row pl-4 navbar navbar-dark">
    <MudCard Elevation="0" Class="d-flex align-center loginboks">
        <MudAvatar Style="@($"background-color:{ Colors.Shades.White};")" Variant="Variant.Filled">
            <MudIcon Color="Color.Primary" Icon="@Icons.Filled.Person" Size="Size.Large" />
        </MudAvatar>
        <span>Administrator</span>
    </MudCard>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
               Ferieboliger
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bookinger">
                Bookinger
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/information/lodtrækning">
                Lodtrækning
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/information/praktisk">
                Praktisk information
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/guide">
                Guide
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/FAQ">
                FAQ
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
