@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.tilfoejFeriebolig__fieldset{
    gap: 1.5rem;
}

.tilfoejFeriebolig__kategori {
    margin-bottom: 3rem;
}

.feriebolig__priser {
    gap: .5rem;
}
.feriebolig__highlights {
    gap: 2rem;
    text-align: center;
}

.feriebolig__overskrift {
    font-weight: bold; 
    margin: 0; 
    font-size: 1.1rem;
}

.feriebolig__rediger {
    margin-bottom: 3rem;
}

.feriebolig__redigerknap {
    align-self: flex-start;
}

.mud-table-row:hover {
    cursor: pointer;
}

.feriebolig__billeder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.loginboks {
    background-color: rgba(0,0,0,0.0) !important;
    gap: 1rem;
    color: white !important;
    font-weight: bold;
}

.mud-card-actions{
    gap: 1rem;
}

.feriebolig__specifikkePriser{
   
    width: 10rem;
    text-align: center;
}


.feriebolig__specifikkePriser span {
    display: block;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.feriebolig__specifikkePriser--overskrift {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 10px 5px 10px;
    height: 50%;
    border-radius: 4px 4px 0 0;
}

.feriebolig__priser--pris{
    padding-top: 5px;
    font-size: 1.3rem;
    
}

.feriebolig__priser--beskat {
    font-size: 0.8rem;
    padding-bottom: 5px;
    font-weight: lighter;
}

.feriebolig__specifikkePriser--prisHoejUge {
    background-color: #fab934 !important;
}

.feriebolig__specifikkePriser--prisHoejWeekend {
    background-color: #f1cd83 !important;
}

.feriebolig__specifikkePriser--prisLavUge {
    background-color: #3abd8d !important;
}

    .feriebolig__specifikkePriser--prisLavWeekend {
    background-color: #88c9b2 !important;
}

.feriebolig__karussel--navigation span, .feriebolig__karussel--delimiters span{
    background-color: white;
    border-radius: 50%;
}