@page "/ferieboliger"

<MudPaper Width="100%" Class="pa-16" Elevation="0">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex justify-center align-center flex-column">
        @if (!addFeriebolig)
        {
            <MudPaper Elevation="0" Class="d-flex justify-end" Width="100%">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="@changeView">Tilføj feriebolig</MudButton>
            </MudPaper>
        }

        @if (addFeriebolig)
        {
            <MudPaper Elevation="1" Class="pa-8" Width="50%">
                <MudCardActions Class="d-flex justify-end">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="@changeView">Skjul formular</MudButton>
                </MudCardActions>
                <AddFeriebolig></AddFeriebolig>
            </MudPaper>
        }

        <h3>Ferieboliger</h3>
        <ViewFerieboliger></ViewFerieboliger>
    </MudContainer>
</MudPaper>

    @code {
        public bool addFeriebolig = false;
        
        void changeView()
        {
            addFeriebolig = !addFeriebolig;
        }
    }